<div class="wrap-navigation">
  <div class="logo" ui-sref="home"><span clas="logo__line1">Магазин</span><br/> <span class="logo__line2">аксессуаров</span></div>
  <ul class="navigation-list">
    <li><hr color="#ccc" size="1"/></li>
    <nav-item ng-repeat="item in nav.items | type: 'section' | isNotSystemSection" item="item" click-handler="nav.setActiveNavigationItems(item)"></nav-item>
    <li><hr color="#ccc" size="1"/></li>
    <nav-item ng-repeat="item in nav.items | type: 'section' | isMainSection" item="item" click-handler="nav.setActiveNavigationItems(item)"></nav-item>
    <li><hr color="#ccc" size="1"/></li>
    <nav-item ng-repeat="item in nav.items | type: 'category' | isNotDevices" item="item" click-handler="nav.setActiveNavigationItems(item)"></nav-item>
    <li><hr color="#ccc" size="1"/></li>
    <nav-item ng-repeat="item in nav.items | type: 'category' | isDevices" item="item" click-handler="nav.setActiveNavigationItems(item)"></nav-item>
  </ul>
  <hr color="#ccc" size="1"/>
  <ul class="navigation-list">
    <li class="navigation-list-item" ui-sref-active="active" ui-sref="about">
      <div class="nav-item-icon"></div>
      <div class="nav-item-name">О магазине</div>
    </li>
    <li class="navigation-list-item" ui-sref-active="active" ui-sref="faq">
      <div class="nav-item-icon"></div>
      <div class="nav-item-name">Faq</div>
    </li>
  </ul>
</div>
