.modal {
  position: absolute;
  top: 15%;
  bottom: 15%;
  left: 30%;
  right: 30%;
  background-color: #fff;
  border: 1px #000000 solid;
}

.close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  cursor: pointer;
}